<div class="about">
  
  <div class="header-content">
      <h1>ABOUT</h1>
  </div>

  <div class="center-content">
  
  <h2>SYNOPSIS:</h2>
    <p>
      Phillip is a music teacher and he is in the process of preparing a musical with his students.
      One day, in the middle of his daily class, he receives news that his elderly mother is more unwell than usual. He must travel to his hometown urgently. 
    </p>
    <p>
      Upon his arrival he finds his mother already dead. This sad event plunges him into a depression that prevents his life developing as normal. His state of depression forces him to stop his work as a teacher and thus stop work on his musical play.
    <p>
      After a long walk, he feels the need to run and he does this until he falls exhausted to the ground. Running gives him a sense of relief that becomes an escape for his depression. He then begins to systematically do this day and night. During these routine runs he meets a woman named Athens and together they begin to establish a relationship that improve Phillip’s mood, motivates him to return to school to finish the musical and consider a new goal to run a marathon.
    </p>
    <p>
      This project is supported by:
      <ul>
        <li>Susie Newborn (Greenpeace Co-Founder)</li>
        <li>Tame Iti (Maori Artist and Activist)</li>
        <li>Corradino Ansalmi</li>
        <li>ALAC Inc. (Auckland Latin American Community)</li>
        <li>Te Huruhi Primary School</li>
      </ul>
    </p>
    <p class="director">
      <b>  Director Sebastian Vidal    </b>
    </p>
  </div>

  <div id="cloud-scroll"></div>  

  <footer>
      <a href="https://www.facebook.com/marathonfilmnz/" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="https://vimeo.com/sonohd" target="_blank"><i class="fa fa-vimeo-square"></i></a>
      <a href="https://www.instagram.com/marathon_the_movie/" target="_blank"><i class="fa fa-instagram"></i></a>
  </footer>

</div>

