<div class="home-hero">
  <video autoplay poster="../assets/images/marathon-back.jpg" id="bgvid">
      <source src="../assets/videos/marathon-back.mp4" type="video/mp4">
  </video>
  <div class="home-header-content">
      <h1>MARATHON</h1>
      <h2>A film by Sebastian Vidal Bustamante</h2>
      <a target="_blank" href="http://sono.co.nz/marathon/">Do you want to help?</a>
  </div>
  <div class="home-face-footer">
    <a href="https://www.facebook.com/marathonfilmnz/" target="_blank"><i class="fa fa-facebook-square"></i></a>
    <a href="https://vimeo.com/sonohd" target="_blank"><i class="fa fa-vimeo-square"></i></a>
    <a href="https://www.instagram.com/marathon_the_movie/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</div>
